table {
    border-collapse: collapse;
    margin-top: 20px;
}

@media screen and (max-width: 800px) {
    form div {
        text-align: center;
    }

    input {
        width: 50%;
    }

    .table-alignment {
        width: 100%;
    }
}